# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Tmp files
*.~*~
*#

# Thumbnail files
Thumbs.db

# for mac
.DS_Store
