# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
run
run.exe
a.out

# Tmp files
*.~
*~
*#

# Thumbnail files
Thumbs.db

# for mac
.DS_Store

# QT ignore
*.pro.user
qrc_resource.cpp
*.autosave

